*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    font-size: 16px;
}

.not-visible {
  visibility: hidden;
}

.header{
    background: #a53bcc;
    padding: 35px 0;
}
.container{
	flex-wrap: wrap;
    max-width: 1140px;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.align-items_center{
	align-items: center;
}

.header-right{
	flex-wrap: wrap;
    display: flex;
    align-items: center;
    margin-left: auto;
}
.search-form {
	font-family: "Comic Sans MS", cursive, sans-serif;
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 220px;
    height: 50px;
    border: 3px solid white;
	border-radius: 10px;
    padding-left: 5px;
    padding-right: 10px;
}

.search {
    outline: 0;
    border: none;
    background: none;
}

.search-input {
	font-family: "Comic Sans MS", cursive, sans-serif;
    color: #fff;
    width: 90%;
    height: 100%;
    font-size: 13px;
}
::-webkit-input-placeholder {
    color: #fff
}

:-moz-placeholder {
    color: #fff
}

::-moz-placeholder {
    color: #fff
}

:-ms-input-placeholder {
    color: #fff
}

button {
    outline: 0;
    border: none;
    background: none;
    cursor: pointer;
}
.search-i {
    color: #fff;
}

.login,
.cart-informer {
    color: #fff;
    padding-top: 0;
}

.cart-informer{
	padding-left: 20px;
}

.login{
	margin-left: 20px;
}



.cart-informer__button {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.button-login{
	font-family: "Comic Sans MS", cursive, sans-serif;
    display: flex;
    align-items: center;
	border: 3px solid white;
	border-radius: 10px;
	width: 70px;
    height: 45px;
    justify-content: center; 
	color: #fff;
	font-size: 12px;
	margin:0 auto;
}

.cart-informer__count {
    color: #111;
    font-size: 10px;
    background-color: #fff;
    width: 20px;
    height: 20px;
    margin-right: -2px;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.cart-informer__icon {
    width: 45px;
    height: 45px;
    border: 3px solid white;
	border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.cart-informer__icon-i {
    color: #fff;
}
.cart-informer__i, .cart-informer__value {
    color: #fff;
    font-weight: 700;
    font-size: 12px;
	font-family: "Comic Sans MS", cursive, sans-serif;
    padding-left: 10px;
}
.cart-informer__i {
    font-size: 11px;
    margin-top: -2px;
}



.menu {
    height: 60px;

}

.catalog {
    width: 260px;
    top: 0;
	font-family: Noto Sans, sans-serif;
    background-color: #fff;
	-moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
	z-index:1;
}
.catalog__header {
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #e0e0e0;
	border-radius:10px;
    border-top: none;
	border-bottom: none;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.catalog__header-icon {
    font-size: 21px;
}
.catalog__list {
    position: relative;
    z-index: 2;
}

ul {
    padding: 0;
    margin: 0;
	display: none;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.catalog__link {
    height: 60px;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #e0e0e0;
    border-bottom: none;
    align-items: center;
    display: flex;
}

.catalog__subcatalog {
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #fff;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: 280px;
    top: 0;
    height: 100%;
    padding: 20px;
    transition: all .3s;
}
.catalog__item:hover .catalog__subcatalog { 
    opacity: 1;
    visibility: visible; 
    left: 260px; 
}
.catalog__subcatalog-link {
    font-size: 14px;
    color: #111;
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu__nav {
    padding-left: 50px;
	padding-top: 20px;
    height: 100%;
    display: flex;
}

.menu__nav-link {
	font-family: Noto Sans, sans-serif;
	width:100px;
    font-size: 15px;
	text-align:center;
    transition: all .3s;
}

.menu__border{
    display: flex;
    margin-left: auto;
    border-left: 1px solid #e0e0e0;
    padding-left: 40px;
    height: 60px;
}

p {
    margin: 0;
    padding: 0;
}

a {
    color: #111;
    text-decoration: none;
}

a:hover {
    color: #821978;
}

.open ul {
	  padding: 0;
      margin: 0;
      display: block;
}

.registration__point{
    font-size:15px;
	color: #444444;
}

.registration__container {
	color: #444444;
	font-family: Noto Sans, sans-serif;
	max-width:350px;

}

.registration-center{
	margin:0 auto;
}

.login-center{
	display:flex; 
	position:absolute; 
	top:0; 
	bottom:0; 
	right:0; 
	left:0;
}


.registration__text{
	font-family: "Comic Sans MS", cursive, sans-serif;
    width: 100%;
    padding: 11px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #ebebeb;
	border-radius:3px;
}

.registration__text:focus {
    background-color: #ddd;
    outline: none;
}

.registration__line{
    border: 1px solid #f1f1f1 ;
    margin-bottom: 15px;
}

.registerbtn {
    background-color: #a53bcc;
    color: white;
    padding: 15px 19px;
    margin: 6px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
	border-radius: 5px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.registerbtn:hover {
    opacity: 1;
}


.signin {
	margin-top:10px;
    background-color: #f1f1f1;
    text-align: center;
	padding:20px;
}

.message {
  position: absolute;
  top: 175px;
  font-size: 20px;
  background-color:#6eb7eb;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color:white;
  left:50%;
  margin-left:-15px;
  width:220px;
  z-index:5;
  border: 2px solid #cfcfcf;
  border-radius:3px;
  border-radius: 3px;
  padding: 3px;
  text-align: center;
  display:none;
}

.msg{
    border: 2px solid #ffa908;
	border-radius: 3px;
	padding: 2px;
	text-align: center;
}

.dropdown {
  width: 140px;
  height:45px;
  font-size: 12px;
  cursor: pointer; 
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: white;
  background-color: inherit;
  margin: 0;
}

.dropbtn {
  border: 3px solid white;
  border-radius: 10px;
  width: 140px;
  height:45px;
  color: white;
}

.dropdown-content {
  text-align: center;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.dodgerblue {
    color: dodgerblue;
}

.product-gr{
	display: grid;
    grid-gap: 45px;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	max-width: 1140px;
	margin: 0 auto;
}

.product-block{
	width:250px;
	height:400px;
}

.product-item {
   margin: auto;
   width: 250px;
   text-align: center;
   background: white;
   font-family: Arial, sans-serif;
   transition: .3s ease-in;
}
.product-item:hover {
}
.product-item img {
   height:317px;
   border-radius: 20px 20px 0 0; 
   display: block;
   width: 100%;
}
.product-list {
   border-radius: 0 0 20px 20px;
   background: #f2f2f2;
   padding: 15px 0;
}
.product-list h3 {
   font-size: 18px;
   font-weight: 400;
   color: #444444;
   margin: 0 0 10px 0;
}
.price {
   font-size: 16px;
   color: #fc5a5a;
   display: block;
   margin-bottom: 12px;
}
.button {
   text-decoration: none;
   display: inline-block;
   padding: 0 12px;
   background: #cccccc;
   color: white;
   text-transform: uppercase;
   font-size: 12px;
   line-height: 28px;
   transition: .3s ease-in;
}
.product-item:hover .button {
   background: #a53bcc;
}


.add_new_product{
	font-family: Noto Sans, sans-serif;
	font-size:30px;
	text-align:center;
	color: #a8a8a8;
}
.add_new_product_input{
	width: 100%;
    padding: 12px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
	border-radius:10px;
}

#footer {
 margin:auto;
 border-radius:8px;
 margin-top:30px;
 background-color: #a53bcc; 
 width:80%;   
 height: 80px;
 color: white;
 text-align: center; 
 padding: 30px;
 font-size:19px;
 font-family: Noto Sans, sans-serif;
}

.grey__background{
	background: #e0dee0;
	height: 80px;
}

.shopping-cart {
  width: 980px;
  min-height:500px;
  margin: 30px auto;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.last__order{
	width: 500px;
}

.header-cart{
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #E1E8EE;
  padding-left:10px;
  color: #5E6977;
  font-size: 18px;
}

.total__price-cart{
	height:30px;
	font-size:22px;
}

.total__buton-cart{
	width:200px;
	height:55px;
	margin-left:50px;
	background-color: #a53bcc; 
	text-align: center;
	border-radius:10px;
	box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
}

.total__buton__text-cart{
	font-size: 17px;
	color:white;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.item-cart{
  margin-top:30px;
  padding-bottom:20px;
  height: 300px;
  border-bottom:  1px solid #e8cbf2;
  border-left:  1px solid #e8cbf2;
  border-right:  1px solid #e8cbf2;
  border-radius:10px;
}

.item-cart_personal_area{
	border-top:  1px solid #e3e3e3;
	height:250px;
}

.product__inf-cart{
	justify-content: space-around;
	display: flex;
	align-items: center;
	margin-top:25px;
}
 
.delate__item-cart{
	margin: 0 auto;
	width:100%;
	background-color: #e8cbf2;
	height:50px;
	border-radius:10px;
	padding-top: 10px;
	text-align: center;
}

.delate__item__text-cart{
    text-align: center;
	color:white;
	width:980px;
	font-size:20px;
	font-family: Arial, sans-serif;
}

.delate__item-cart:hover{
   background: #d9d9d9;
}

.image-cart{
  height:200px;
  width:160px;
}
 
.description-cart{
  font-family: Arial, sans-serif;
   color: #444444;
   width:200px;
}

.description-cart_personal_area{
	width:50px;
}

.item__price-cart{
  display: flex;
  text-align: center;
  font-size: 21px;
  color: #43484D;
}

@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item-cart{
    height: auto;
  }
  
  .product__inf-cart{
	  flex-wrap: wrap;
    justify-content: center;
	margin-top:0px;
  }
  
  .description-cart{
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }
  
  
  .image-cart{
	text-align: center;
    margin: 0 auto;
  }
  
  .delate__item-cart{
	  border-radius: 10px 10px 0 0; 
	  width:160px;
  }
 
  .item__price-cart{
	  padding-top: 10px;
  }
}

@media (max-width: 800px) {
   .header-cart{
	flex-wrap: wrap;
	justify-content: center;
	 height: auto;
  }
	
  .total__buton-cart,
  .total__price-cart{
    text-align: center;
    margin: 10px 0;
  }
  .total__price-cart{
	  width:100%;
  }
}

@media (max-width: 700px) {
   .logo{
	height:50px;
	width:100%;
	margin:0 auto;
  }
	
  .search-form{
	  margin:0 auto;
  }
  
  .block{
	  margin-top:15px;
	  width:100%;
  }
  
  .header-right{
	  margin: 0 auto;
  }
  .subblock{
	  margin: 0 auto;
  }
  
  .cart-informer{
	  margin-left:-43px;
  }
}

.block{
	display:flex;
}

.subblock{
	align-items: center;
	display:flex;
}

.logo{
	display:flex;
}

.img_logo{
	width:100x;
	height:50px;
	margin:0 auto;
}

@media (max-width: 762px) {
  .catalog__subcatalog,
  .menu__border,
    .menu__nav{
	    display: none;
     }
	  .catalog{
		  width: 100%;
    }
}

.border{
	border-radius: 10px 10px 0 0;
}

.border-top{
	border-radius: 10px 10px 0 0;
}

.border-bottom{
	border-radius: 0 0 10px 10px ;
}

.vertical-menu {
	font-family: Arial, sans-serif;
	font-size:14px;
	padding: 35px 0;
    width: 200px;
	height:250px;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
	font-size: 13px;
    background-color: #dab0e8;
    color: white;
}

th,td{
		padding: 10px;
		width:130px;
		height:50px;
	 }
	 
	 th{
		font-family: 'Philosopher', sans-serif;
		font-size:15px;
		background: #a53bcc;
		color: white;
	 }
	 td{
		background: #eee;
		text-align:center;
	 }

table td {
	overflow:hidden;
}


.exp{
	height:2050px;
}

.admin-wrap{
	height:1000px;
}

.table{
	padding: 35px 0;
	margin:0 auto;
	min-height: 500px;
	font-size:14px;
	font-family: Arial, sans-serif;
}

.img-table{
	width:100px;
}

.add_product{
	padding: 35px 0;
	margin:0 auto;
}

.add_product_container{
	color: #444444;
	font-family: Noto Sans, sans-serif;
	width:500px;
}


.add_product_point{
	font-size:15px;
	color: #444444;
}

.add_product_text{
	font-family: "Comic Sans MS", cursive, sans-serif;
    width: 100%;
    padding: 11px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #ebebeb;
	border-radius:3px;
}

.add_product_text:focus {
    background-color: #ddd;
    outline: none;
}

.id_text{
	display:none;
}

.color_red{
	font-size: 14px;
    color: #fc5a5a;
}

.container-admin{
	flex-wrap: wrap;
    max-width: 1140px;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.corneer__left{
	border-radius: 10px 0 0 0; 
}

.corneer__right{
	border-radius: 0 10px 0 0; 
}

.margin_top_3{
	padding-top:5px;
}

.admin_useres_table_function{
	width:150px;
}


.page__right,
.page__left,
.page{
	width: 27px;
	height: 27px;
	background: #e5e5e5;
	border-left:  3px solid #cfcfcf;
	box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
	align-items:center;
	justify-content:center;
	display:flex;
}

.page-text{
	font-family: Arial, sans-serif;
	font-size: 15px;
	color:#8c8c8c;
}

.page__left{
	font-size:11px;
	width: 25px;
	border-left:none;
	border-radius: 10px 0  0 10px;
}

.page__right{
	font-size:11px;
	width: 25px;
	border-radius: 0 10px  10px 0;
}

.pages{
	display:flex;
	margin-top: 30px;
	justify-content: center;
}

.no_data{
	color: #c7c7c7;
	display:flex;
	padding: 35px 0;
	margin:0 auto;
	min-height: 420px;
	font-size:48px;
	font-family: Arial, sans-serif;
}

.delate__item-cart:hover{
   background: #d5a2e8;
}

.personal_area_name{
	color: #444444;
	font-size:17px;
	font-family: Arial, sans-serif;
	padding-bottom:5px;
}

.—Åategory{
	font-family: 'Philosopher', sans-serif;
	text-align:center;
	color: #a53bcc;
	font-size:28px;
}


.good-wrap{
   min-height:500px;
   margin-top:100px;
   padding-left:50px;
   display:flex;
}

.good-img{
   height:400px;
   border-radius:15px;
   display: block;
   margin: 0 auto; 
}

.good-img-wrap{
   height:400px;
   width:400px;
}

.good{
	width:100px;
	height:100px
}

.good_description{
    flex-wrap: wrap;
	padding-left:100px;
    justify-content: center;
	margin-top:0px;
}

.good_description-text{
	width:500px;
	padding-top:5px;
	font-family: Geneva, Arial, sans-serif;
	color:#2b2b2b;
}

.good-head{
	font-family: 'Philosopher', sans-serif;
	font-size:25px;
}

.good-text-head{
	padding-top:15px;
	font-family: 'Philosopher', sans-serif;
	font-size:19px;
}

.dropbtn-size{
  font-family: 'Philosopher', sans-serif;
  border: 0px;
  background-color: #ededed;
  color:black;
  font-size: 14px;
}

.dropdown-size{
	height:75px;
	padding-top: 10px;
}

.product-ord-button-wrap{
   width: auto;
   text-align: left;
}

.product-ord-button{
   padding: 10px 50px;
}

@media (max-width: 900px) {
   .good-wrap{
	 flex-wrap: wrap;
	 height: auto;
     padding-left:0px;
}
  }
  
  .good-head{
	  padding-top:10px;
  }
  
  .good-img-wrap{
     margin:0 auto;
   }
	
  .good-text-head,
  .good-img-wrap,
  .good_description-text{
	margin:0 auto;
    width: 400px;
  }
  
  .good_description{
	 margin:0 auto;
	 padding-left:0px;
	 justify-content:none;
  }
  
  .product-ord-button{
   padding: 10px 150px;
  }

  product-gr
 
